gitlab:
  image: 'gitlab/gitlab-ce:latest'
  restart: always
  hostname: 'ci.diplomproj.ru'
  environment:
    GITLAB_ROOT_EMAIL: "n.n.glebanov@yandex.ru"
    GITLAB_ROOT_PASSWORD: "password"
    GITLAB_OMNIBUS_CONFIG: |
      external_url 'http://ci.diplomproj.ru/'
  ports:
    - '80:80'
    - '443:443'
    - '1122:22'
  volumes:
    - '/data/service-data/gitlab/config:/etc/gitlab'
    - '/data/service-data/gitlab/logs:/var/log/gitlab'
    - '/data/service-data/gitlab/data:/var/opt/gitlab'